body {
    background-color: aliceblue;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
h1 {
    color: #0fabdc;
    font-size: 2.5em;
    margin-bottom: 20px;
}
.main-section, .help-section {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.help-section {
    display: none;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
button:hover {
    background-color: #16e0e0;
}
a {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: #4CAF50;
    font-size: 1.2em;
}
a:hover {
    text-decoration: underline;
}
.animated-button {
    animation: bounce 1s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
